.con-home-popup{
    position: fixed;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: max-content;
    min-height: 200px;
    overflow: hidden;
    width: 400px;
    z-index: 1000;
    left: calc((100%-400px)/2);
    border-radius: 15px;
    top: 25%;
    gap: 20px;
}
.popup-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
    width: calc(100%-10px);
    padding: 10px;   
}
.success{
margin:auto;
    padding: 10px;   
}

.popup-header{
   
    width: 360px;
    background-color: #2B3674;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}
.cross{
    scale: 1.5;
    cursor: pointer;
}
.popup-content button{
    padding: 5px 20px;
    background-color: #2B3674;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: white;
    font-size: medium;
    border-radius: 5px;
}